body {
  font-family: "SF Pro Text";
  min-height: 100vh;
}

.onboarding-page {
  padding-bottom: 62px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.onboarding-header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.onboarding-header_skip {
  background: transparent;
  border: none;
  color: #B1B1B8;
  text-align: right;
  font-family: "SF Pro Text";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 0;
}
@media (min-width: 768px) {
  .onboarding-header {
    max-width: 568px;
    margin: 0 auto;
  }
}

.onboarding-main {
  padding: 0 16px;
}

.onboardin__slider {
  width: 100%;
  overflow: hidden;
}
.onboardin__slider-box {
  width: 100%;
}
.onboardin__slider-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .onboardin__slider-box {
    max-width: 385px;
    margin: 0 auto;
  }
}
.onboardin__slider-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .onboardin__slider-content {
    margin-top: 20px;
  }
}
.onboardin__slider-content h3 {
  color: #1C1C1E;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .onboardin__slider-content h3 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
  }
}
.onboardin__slider-content h3 span {
  color: #400DF6;
}
.onboardin__slider-content p {
  color: #1C1C1E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 768px) {
  .onboardin__slider-content p {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}
.onboardin__slider-content span {
  color: #400DF6;
}

.onboarding-footer {
  display: none;
}
@media (min-width: 1200px) {
  .onboarding-footer {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.onboarding-footer > p {
  width: 568px;
  padding: 50px 0px 20px 0px;
  color: #68686E;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.onboarding-footer__box {
  padding-top: 20px;
  border-top: 1px solid #E5E5EA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onboarding-footer__box p {
  color: #68686E;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.onboarding-footer__box .social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.onboarding-footer__box .social-links a {
  text-decoration: none;
  color: #68686E;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.onboardin-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.onboardin-pagination {
  padding: 20px 0;
  margin-bottom: 6px;
}
.onboardin-pagination span {
  width: 4px;
  height: 4px;
  background: #C0C1CB;
  margin: 0 !important;
}
.onboardin-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 4px;
  background: #400DF6;
  border-radius: 20px;
}

.onboardin-button-next {
  display: flex;
  max-width: 380px;
  height: 50px;
  padding: 14px 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 100px;
  background: #400DF6;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0 auto;
  cursor: pointer;
}

#skipModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#skipModal .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#skipModal .modal-content p {
  color: #1C1C1E;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#skipModal .modal-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #6200EE;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#skipModal .modal-button:hover {
  background-color: #4b00c7;
}

.authorization-page {
  background: #300DB0;
  display: flex;
}
.authorization-page__header {
  height: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .authorization-page__header {
    height: auto;
    margin-bottom: 40px;
  }
}
.authorization-page__logo {
  width: 135px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
}
.authorization-page__box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .authorization-page {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
  }
}
.authorization-page .onboarding-footer {
  display: none;
}
@media (min-width: 1200px) {
  .authorization-page .onboarding-footer {
    display: flex;
    width: calc(100% - 20px);
    max-width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: auto;
  }
}
.authorization-page .onboarding-footer > p {
  width: 568px;
  padding: 50px 0px 20px 0px;
  color: #E5E5EA;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.authorization-page .onboarding-footer__box {
  padding-top: 20px;
  border-top: 1px solid #E5E5EA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorization-page .onboarding-footer__box p {
  color: #E5E5EA;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.authorization-page .onboarding-footer__box .social-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.authorization-page .onboarding-footer__box .social-links a, .authorization-page .onboarding-footer__box .social-links button {
  text-decoration: none;
  color: #E5E5EA;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.hidden {
  display: none;
}

.auth-box {
  height: 100%;
  padding: 20px 16px 0 16px;
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  background: #FFF;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .auth-box {
    max-width: 440px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    height: auto;
  }
}
.auth-box__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
.auth-box__toggle {
  display: flex;
  align-items: center;
}
.auth-box__toggle-btn {
  color: #B1B1B8;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 50%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #B1B1B8;
  transition: all 0.4s;
  padding: 6px 0;
}
.auth-box__toggle-btn--active {
  border-bottom: 1px solid #000;
  color: #000;
  transition: all 0.4s;
}
.auth-box__form {
  display: none;
}
.auth-box__form--active {
  display: block;
}
.auth-box__form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.auth-box__form-header button, .auth-box__form-header span {
  width: 25%;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding-left: 16px;
  box-sizing: border-box;
}
.auth-box__form-header p {
  padding: 10px;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.auth-box__form-main {
  padding: 20px 16px;
  width: 100%;
  box-sizing: border-box;
}
.auth-box__form-main .auth-box__forgot-text {
  color: #636366;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.auth-box__form-main .auth-box__input-container {
  margin-bottom: 30px;
}
.auth-box__form-main .invalid {
  width: 100%;
  max-width: 100%;
  display: none;
}
.auth-box__form-main .valid {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #23B047;
  background: rgba(3, 233, 54, 0.15);
  display: none;
}
.auth-box__form-main .valid p {
  color: #23B047;
}
.auth-box__form-main .auth-box__submit-btn {
  margin-top: 30px;
}
.auth-box__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-bottom: 16px;
}
.auth-box__input {
  height: 50px;
  padding: 0px 14px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #F6F6F9;
  box-sizing: border-box;
  font-family: "SF Pro Text";
  color: #8D8D97;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.auth-box__input::-moz-placeholder {
  font-family: "SF Pro Text";
  color: #8D8D97;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.auth-box__input::placeholder {
  font-family: "SF Pro Text";
  color: #8D8D97;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.auth-box__clear-btn, .auth-box__toggle-password {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}
.auth-box__clear-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth-box__clear-btn.visible {
  opacity: 1;
}
.auth-box__toggle-password {
  background: url(../img/eye-icon1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 28px;
}
.auth-box__toggle-password.visible {
  background: url(../img/eye-icon2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.auth-box__submit-btn {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 14px 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: #400DF6;
  border: none;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.auth-box__forgot-link {
  color: #8D8D97;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
}
.auth-box__forgot-link, .auth-box__back-btn {
  display: block;
}
.auth-box__password-hint {
  color: #8D8D97;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 13px;
}
.auth-box__checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}
.auth-box__checkbox-container label {
  color: #48484A;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.auth-box__checkbox-container label button {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  background: transparent;
  border: none;
  padding: 0;
}
.auth-box__checkbox-container select {
  color: #8D8D97;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.auth-box__invalid {
  border-radius: 4px;
  border: 1px solid #FF3B30;
  background: rgba(255, 14, 0, 0.15);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 280px;
  width: 100%;
  margin: auto;
}
.auth-box__invalid img {
  width: 28px;
  height: 28px;
}
.auth-box__invalid p {
  color: #FF3B30;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 768px) {
  .auth-box__invalid {
    position: static;
    transform: none;
    max-width: 100%;
    margin-top: 30px;
  }
}
.auth-box__new-password-container {
  padding: 20px 16px;
  width: 100%;
  box-sizing: border-box;
}
.auth-box__new-password-container .auth-box__forgot-text {
  color: #636366;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.auth-box__new-password-container .auth-box__input-container {
  margin-bottom: 10px;
}
.auth-box__new-password-container .invalid {
  width: 100%;
  max-width: 100%;
  display: none;
}
.auth-box__new-password-container .valid {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid #23B047;
  background: rgba(3, 233, 54, 0.15);
  display: none;
}
.auth-box__new-password-container .valid p {
  color: #23B047;
}
.auth-box__new-password-container .auth-box__submit-btn {
  margin-top: 30px;
}
.auth-box__new-password-container .auth-box__new-password-text {
  color: #8D8D97;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.auth-box__new-password-container .auth-box__form-header p {
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.auth-box__input-container {
  position: relative;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.auth-box__form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: auto;
}

#forgot-form {
  background: #fff;
  width: 100%;
}
@media (min-width: 768px) {
  #forgot-form {
    max-width: 440px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 30px 30px;
    border-radius: 20px;
    height: auto;
  }
  #forgot-form .auth-box__form-main {
    padding: 0;
  }
  #forgot-form .auth-box__new-password-container {
    padding: 0;
  }
  #forgot-form .auth-box__form-header button, #forgot-form .auth-box__form-header span {
    padding: 0;
  }
}

.modal.terms {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
@media (min-width: 768px) {
  .modal.terms {
    background: #fff;
  }
}
.modal.terms .modal__content {
  background-color: white;
  padding: 16px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .modal.terms .modal__content {
    max-width: 568px;
  }
}
.modal.terms .modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  min-height: 64px;
}
.modal.terms .modal__header button,
.modal.terms .modal__header .modal__header-box {
  width: 25%;
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.modal.terms .modal__header p {
  width: 50%;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  white-space: nowrap;
}
.modal.terms .modal__header-link {
  display: none;
}
@media (min-width: 768px) {
  .modal.terms .modal__header-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    left: 0;
    transform: translate(-35px, 85px);
  }
  .modal.terms .modal__header-link li a {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
  }
}
.modal.terms .modal__title {
  color: #1C1C1E;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.modal.terms .modal__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 32px;
}
.modal.terms .modal__main span {
  color: #8D8D97;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modal.terms .modal__main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal.terms .modal__main-text h3 {
  color: #1C1C1E;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal.terms .modal__main-text p {
  color: #48484A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modal.terms .modal__main-text ul {
  padding-left: 20px;
}
.modal.terms .modal__main-text ul li {
  list-style: disc;
  color: #48484A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.modal__close {
  border: none;
  background: none;
  cursor: pointer;
}

.modal.terms.modal--hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */